<%= link_to gravatar_for(@entry.user, size: 50), @user %>
<h1><%= @entry.user.name %></h1>
<span><%= link_to "view my profile", @entry.user %></span>
<span><%= pluralize(@entry.user.entries.count, "entry")%></span> 